html {
    font-family:'Rock Salt', cursive;
  }

table {
    table-layout: fixed;
    /* border-collapse: collapse; */
    /* border: 3px solid rgb(83, 174, 248); */
  }

th{
    width: 800px;
    height: 50px;
    letter-spacing: 3px;
}

td{
    height: 50px;
    letter-spacing: 2px;
}

table{
    text-align: center;
}

td{
    background: yellow;
}

th,
.first_cell,
.second_cell{
    background: rgb(43, 138, 239);
}